/* Styling for the background so it matches our theme */
body {
  margin: 0;
  background: linear-gradient(to bottom right, #b3d4ff, #ffffff);
  font-family: Arial, sans-serif;
}

/* This centers the thank you box in the middle of the webpage */
.thankyou-container {
  max-width: 600px;
  margin: 120px auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  border: 3px solid #0a3d62;
  box-shadow: 0 6px 18px rgba(0, 60, 120, 0.3);
  text-align: center;
}

/* Title */
.thankyou-container h1 {
  color: #0a3d62;
  margin-bottom: 15px;
}

/* Text */
.thankyou-container p {
  font-size: 18px;
  margin: 10px 0;
}

/* Takes you back to home */
.home-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background-color: #0a3d62;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.home-btn:hover {
  background-color: #5ecbff;
  color: #000;
}

